/*====================*
    BUTTON
 *====================*/
.button {
    border-radius: var(--rounded-full);
    max-width: fit-content;
    background: var(--clr-primary);
    padding: .75em 1.5em;
    font-weight: var(--fw-700);
    line-height: 1em;
    text-transform: uppercase;
    color: var(--clr-secondary);
}

/*====================*
    NAVIGATION
 *====================*/
.primary-nav {
    padding-block: 1.5em 1.615em;
}

.secondary-header > .primary-nav {
    padding-bottom: .85em;
}

.primary-nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .75em 3em;   
}

.primary-nav > ul > li {
    font-weight: var(--fw-700);
    text-transform: uppercase;
}

/*====================*
    FOOTER
 *====================*/
.primary-footer {
    background-color: var(--clr-primary);
}

.primary-footer h2 {
    font-size: var(--fs-small);
    line-height: inherit;
    text-transform: uppercase;
}

.primary-footer p {
    font-size: var(--fs-small);
}

.primary-footer > :not(.full-width) {
    display: grid;
    grid-template-areas: 
        "contact ."
        "contact copyright";
    padding-block: 4.75em 1.5em;
}

.contact-section {
    grid-area: contact;
    width: fit-content;
}

.copyright-text {
    grid-area: copyright;
    justify-self: flex-end;
}

@media only screen and (max-width: 640px) {
    .primary-footer > :not(.full-width) {
        grid-template-areas: 
            "contact"
            "copyright";
    }

    .copyright-text {
        margin-top: 0.833331em;
        justify-self: initial;
    }
}