@import url('base.css');
@import url('layout.css');
@import url('utilities.css');
@import url('components.css');

.primary-header, .primary-footer, 
.secondary-header, .secondary-footer {
    color: var(--clr-secondary);
}

.primary-header,
.secondary-header {
    background-color: var(--clr-primary);
}

.primary-header::after,
.secondary-header::after {
    background-color: var(--clr-secondary);
}

.main-content > .section-highlight {
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
}

.section-highlight > .button {
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
}

.profile::before {
    border-radius: var(--rounded-medium);
    background-color: var(--clr-primary);
}

.profile__title {
    color: var(--clr-neutral-100);
}

.profile__image {
    border-radius: var(--rounded);
}

.profile__info > ul {
    font-style: oblique;
}

.profile a {
    text-decoration: underline;
}

.gallery {
    border-radius: var(--rounded);
}

.gallery > div > img {
    border-radius: var(--rounded);
}